_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
assets/libs/
node_modules/
vendor
.idea
.history/_pages/landing_20250309002349.md

.history/_pages/landing_20250309002443.md

.history/_pages/landing_20250309002448.md

.history/_pages/landing_20250309002455.md

.history/_pages/landing_20250309122400.md
